{% extends 'base.html' %}
{% load static %}
{% block main %}

    <main id="main">

        <!-- ======= Intro Single ======= -->
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">Yangicha hayotga yangicha qadam</h1>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    About
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section><!-- End Intro Single-->

        <!-- ======= About Section ======= -->
        <section class="section-about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 position-relative">
                        <div class="about-img-box">
                            <img src="{% static 'nestone.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="sinse-box">
                            <h3 class="sinse-title">UyBor 🇺🇿
                                <br> Since 2023
                            </h3>
                            <p>Art & Creative</p>
                        </div>
                    </div>
                    <div class="col-md-12 section-t8 position-relative">
                        <div class="row">
                            <div class="col-md-6 col-lg-5">
                                <img src="{% static '' %}" alt="" class="img-fluid">
                            </div>
                            <div class="col-lg-2  d-none d-lg-block position-relative">
                                <div class="title-vertical d-flex justify-content-start">
                                    <span>Halollik sifat va muvozanat</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5 section-md-t3">
                                <div class="title-box-d">
                                    <h3 class="title-d">Bosh asoschi,
                                        <span class="color-d">TeamLead,</span>
                                        <br>biznesmen.
                                    </h3>
                                </div>
                                <p class="color-text-a">
                                    Estate Agency platformasining asoschisi va ko'plab bizneslar egasi.
                                    Sobiq Team Lead va dasturlash olamida ko'plab karrieralar yaratgan inson.
                                </p>
                                <p class="color-text-a">
                                    Bizning uy oldi sotdi savdosi komandamizning bosh asoschisi Narimonov Nuraddin.
                                    Uning
                                    ko'plab
                                    bizneslari bo'lib hozirda bu proekt uning bizneslari orasida ommabop sanaladi.
                                    Foydalanuvchilar
                                    tomonidan ko'plab e'tirof va maqtovlarga qisqa vaqt ichida erishilgan va hozir ham
                                    foydalanuvchilarning
                                    sevimli platfromalari orasida baland o'rindan joy olgan!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- =======Team Section ======= -->
        <section class="section-agents section-t8">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-wrap d-flex justify-content-between">
                            <div class="title-box">
                                <h2 class="title-a">Meet Our Team</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for agent in agents %}
                        <div class="col-md-4">
                            <div class="card-box-d">
                                <div class="card-img-d">
                                    <img src="{{ agent.image.url }}" alt="" class="img-d img-fluid">
                                </div>
                                <div class="card-overlay card-overlay-hover">
                                    <div class="card-header-d">
                                        <div class="card-title-d align-self-center">
                                            <h3 class="title-d">
                                                <a href="{% url 'agent-single' agent.id %}" class="link-two">
                                                    <br>{{ agent.fullname }}</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="card-body-d">
                                        <p class="content-d color-text-a">
                                            {{ agent.about }}
                                        </p>
                                        <div class="info-agents color-a">
                                            <p>
                                                <strong>Phone: </strong> {{ agent.phone }}
                                            </p>
                                            <p>
                                                <strong>Email: </strong> {{ agent.email }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card-footer-d">
                                        <div class="socials-footer d-flex justify-content-center">
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="#" class="link-one">
                                                        <i class="bi bi-instagram" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#" class="link-one">
                                                        <i class="bi bi-linkedin" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- End About Section-->

    </main><!-- End #main -->
{% endblock %}